[submodule "volumes/openspace/themes/hugo-theme-openspace"]
	path = volumes/openspace/themes/hugo-theme-openspace
	url = https://github.com/dougbeal/hugo-theme-openspace.git
[submodule "volumes/org.foolscap.podcast"]
	path = volumes/org.foolscap.podcast
        url = https://github.com/foolscapcon/org.foolscap.podcast.git

